body {
	font-family: "Arial", Georgia, fantasy;
	background-image: url("images/space.jpg");
}

p {
    padding-top: 10px;
    padding-right: 600px;
    padding-bottom: 10px;
    padding-left: 100px;
	color: white;
}

a {
    font-size: 15px;
    border-radius: 5px;
    width: 100px;
    height: 75px;
    padding: 5px;
	background: linear-gradient(to right, LightBlue , DarkBlue);
	opacity: 0.7;
    color: white;
	transition: 0.3s;
}
a:hover{
    padding-left: 10px;
    padding-right: 10px;
    color: Blue;
	font-size: 20px;
}


center{
	color: white;
}

z{
	
	color: white;
	font-size:100px;
}

x{
    padding-bottom: 5px;
	
    padding-left: 100px;
}
caption {
    text-align: center;
}
